services:
  db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: estonia_trails
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
